In [29]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from functools import reduce

In [51]:
file_1 = pd.read_csv('resources/demographic.csv')
file_2 = pd.read_csv('resources/diet.csv')
file_3 = pd.read_csv('resources/examination.csv')
file_4 = pd.read_csv('resources/labs.csv')
file_5 = pd.read_csv('resources/medications.csv', encoding = "ISO-8859-1")
file_6 = pd.read_csv('resources/questionnaire.csv')

In [52]:
df_1 = pd.DataFrame(file_1)
df_2 = pd.DataFrame(file_2)
df_3 = pd.DataFrame(file_3)
df_4 = pd.DataFrame(file_4)
df_5 = pd.DataFrame(file_5)
df_6 = pd.DataFrame(file_6)

In [53]:
# print([c for c in df_1.columns.tolist() if c in df_2.columns.tolist()])
# print([c for c in df_1.columns.tolist() if c in df_3.columns.tolist()])
# print([c for c in df_1.columns.tolist() if c in df_4.columns.tolist()])
# print([c for c in df_1.columns.tolist() if c in df_4.columns.tolist()])
# print([c for c in df_1.columns.tolist() if c in df_6.columns.tolist()])

dataframes = [df_1,df_2,df_3,df_4,df_5,df_6]

In [54]:
merged=reduce(lambda left,right: pd.merge(left, right, on='SEQN', how='outer'), dataframes)

In [55]:
merged.head()

,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDRETH1,RIDRETH3,RIDEXMON,RIDEXAGM,...,WHD080U,WHD080L,WHD110,WHD120,WHD130,WHD140,WHQ150,WHQ030M,WHQ500,WHQ520
0,73557,8,2,1,69,NaN,4,4,1.0,NaN,...,NaN,40.0,270.0,200.0,69.0,270.0,62.0,NaN,NaN,NaN
1,73557,8,2,1,69,NaN,4,4,1.0,NaN,...,NaN,40.0,270.0,200.0,69.0,270.0,62.0,NaN,NaN,NaN
2,73558,8,2,1,54,NaN,3,3,1.0,NaN,...,NaN,NaN,240.0,250.0,72.0,250.0,25.0,NaN,NaN,NaN
3,73558,8,2,1,54,NaN,3,3,1.0,NaN,...,NaN,NaN,240.0,250.0,72.0,250.0,25.0,NaN,NaN,NaN
4,73558,8,2,1,54,NaN,3,3,1.0,NaN,...,NaN,NaN,240.0,250.0,72.0,250.0,25.0,NaN,NaN,NaN

In [56]:
print('columns: ' + str(len(merged.columns.tolist())))
print('rows: ' + str(len(merged.index)))

columns: 1824
rows: 20194