In [6]:
# ! pip install xport
# cd resources/2015-2016
# !python -m xport GHB_I.XPT > lab.csv

In [13]:
# cd ..

In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from functools import reduce
from sklearn.metrics import accuracy_score as score
from sklearn.impute import SimpleImputer
import seaborn as sns

In [27]:
file_1 = pd.read_csv('resources/2013-2014/demographic.csv')
file_2 = pd.read_csv('resources/2013-2014/examination.csv')
file_3 = pd.read_csv('resources/2013-2014/labs.csv')
file_4 = pd.read_csv('resources/2015-2016/demographic.csv')
file_5 = pd.read_csv('resources/2015-2016/examination.csv')
file_6 = pd.read_csv('resources/2015-2016/labs.csv')

df_1 = pd.DataFrame(file_1)
df_2 = pd.DataFrame(file_2)
df_3 = pd.DataFrame(file_3)
df_4 = pd.DataFrame(file_4)
df_5 = pd.DataFrame(file_5)
df_6 = pd.DataFrame(file_6)

# merged=reduce(lambda left,right: pd.merge(left, right, on=['SEQN'], how='inner'), dataframes_1)
# merged.dropna(how='all', axis=1)
# merged.dropna(how='all', axis=0)

dataframes_1 = [df_1,df_2,df_3]
dataframes_2 = [df_4,df_5,df_6]

df_1 = reduce(lambda left, right: pd.merge(left,right,on='SEQN'), dataframes_1)
df_2 = reduce(lambda left, right: pd.merge(left,right,on='SEQN'), dataframes_2)

print('2013-2014 Dataframe')
print('columns: ' + str(len(df_1.columns.tolist())))
print('rows: ' + str(len(df_1.index)))
print('-----------------------')
print('2015-2016 Dataframe')
print('columns: ' + str(len(df_2.columns.tolist())))
print('rows: ' + str(len(df_2.index)))

df1 = df_1.loc[:,['SEQN','RIDAGEYR','BPXSY2','BPXDI2','BMXWAIST','MGDCGSZ','BMXBMI','BMXARMC','BPXPLS','LBXGH']]
df2 = df_2.loc[:,['SEQN','RIDAGEYR','BPXSY2','BPXDI2','BMXWAIST','MGDCGSZ','BMXBMI','BMXARMC','BPXPLS','LBXGH']]

2013-2014 Dataframe
columns: 693
rows: 9813
-----------------------
2015-2016 Dataframe
columns: 73
rows: 6744

In [28]:
df1.head(2)

,SEQN,RIDAGEYR,BPXSY2,BPXDI2,BMXWAIST,MGDCGSZ,BMXBMI,BMXARMC,BPXPLS,LBXGH
0,73557,69,114.0,76.0,100.0,55.2,26.7,35.3,86.0,13.9
1,73558,54,160.0,80.0,107.6,61.5,28.6,34.7,74.0,9.1

In [29]:
df2.head(2)

,SEQN,RIDAGEYR,BPXSY2,BPXDI2,BMXWAIST,MGDCGSZ,BMXBMI,BMXARMC,BPXPLS,LBXGH
0,83732.0,62.0,NaN,NaN,101.1,NaN,27.8,35.9,NaN,7.0
1,83733.0,53.0,NaN,NaN,107.9,NaN,30.8,33.2,NaN,5.5