In [1]:
!pip install sqlalchemy psycopg2

Requirement already satisfied: sqlalchemy in c:\users\dyi\anaconda3\lib\site-packages (1.3.1)
Collecting psycopg2
  Downloading https://files.pythonhosted.org/packages/1a/85/853f11abfccfd581b099e5ae5f2dd807cc2919745b13d14e565022fd821c/psycopg2-2.8.4-cp37-cp37m-win_amd64.whl (1.1MB)
Installing collected packages: psycopg2
Successfully installed psycopg2-2.8.4

In [7]:
import pandas as pd
import psycopg2
import sqlalchemy
import pprint

In [8]:
conn=psycopg2.connect(
    host='diabetes-data.c9389nczmoxm.us-east-2.rds.amazonaws.com',
    port=int(5432),
    user="Finalproject2019",
    password="Finalproject2019*",
    database="Finalproject2019_db")

In [10]:
df=pd.read_sql('select * from diabetes',conn)

In [11]:
df.head()

,seqn,age,systolic,diastolic,waist_circumference,bmi,arm_circumference,pulse_60s,glycohemoglobin
0,73557,69,114.0,76.0,100.0,26.7,35.3,86.0,13.9
1,73558,54,160.0,80.0,107.6,28.6,34.7,74.0,9.1
2,73559,72,140.0,76.0,109.2,28.9,33.5,68.0,8.9
3,73560,9,102.0,34.0,61.0,17.1,21.0,64.0,NaN
4,73561,73,134.0,88.0,NaN,19.7,25.2,92.0,4.9